<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grabblet - Video Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Grabblet - Download Videos Easily">
    <meta name="twitter:description" content="Grabblet lets you download videos from various platforms with ease.">
    <meta name="twitter:image" content="{{ url_for('static', filename='icons/twitterimage.png') }}">
    <meta name="twitter:site" content="@grabbletcom">
</head>
<body>
    <div class="container">
        <!-- Navigation Bar -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </nav>

        <header>
            <h1>Grabblet</h1>
            <p>Download any video in the best quality with ease</p>
        </header>

        <main>
            <form action="/download" method="post">
                <input type="text" id="url" name="url" placeholder="Paste video URL here" required>
                <button type="submit">Download</button>
            </form>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
